@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body{
    background-color: #fff;
    color:#000;
    font-family: 'Poiret One', cursive;;
    font-size:12px;
    font-weight: 800;
    /*same as above font: black 16px cursive*/
    line-height: 1.6em;
}
header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(91, 86, 86);  
    position: fixed; 
left: 0;  
right: 0;  
top: 5px;  
height: 40px;  
display: flex;  
align-items: center;  
box-shadow: #fff;  
}  
header * {  
display: inline;  
}  
header li {  
margin: 30px;  
}  
header li a {  
color: white;  
text-decoration: none; 
padding: 12px;
}  
li a:hover{
background-color: #000;
}
p1{
    border: 4px solid #000;
    padding: 8px;
}
img{
    float: right;
    border: 9px solid #000;
    padding: 0px;
}
h1{
    float: none;
    font-size: 25px;
}
.d3{
    display: block;
}
.d2{
    display: inline;
}
.d1{
    display: none;
}
.boxx{
    width: 300px;
    border: 5px solid black;
    padding: 5px;
    margin: 20px;
}